/* Global Styles */
body{
font-family:Arial;
margin:0;
background:#fff0f6;
text-align:center;
}

/* Header */
header{
background:#ff69b4;
color:white;
padding:15px;
}

.header-container{
max-width:900px;
margin:auto;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

/* Hero Section (Home) */
.hero{
padding:60px 20px;
background:white;
margin:40px auto;
max-width:700px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
border:3px solid #ff69b4;
}

.hero h2{
color:#ff1493;
font-size:32px;
margin-bottom:15px;
}

.hero p{
font-size:18px;
margin-bottom:25px;
}

/* Buttons */
.btn{
background:#ff69b4;
color:white;
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.btn:hover{
background:#ff1493;
}

/* Features Section */
.features{
padding:40px 20px;
}

.features h3{
font-size:26px;
color:#ff1493;
margin-bottom:20px;
}

/* Feature Cards */
.feature-cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:220px;
border-radius:12px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
border:2px solid #ff69b4;
transition:transform 0.2s;
}

.card:hover{
transform:translateY(-5px);
}

.card h4{
color:#ff1493;
margin-bottom:10px;
}

/* Container (Tasks & About) */
.container{
background:white;
padding:30px;
margin:40px auto;
width:400px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
border:3px solid #ff69b4;
}

/* Inputs */
input{
width:90%;
padding:10px;
margin:8px 0;
border:1px solid pink;
border-radius:6px;
outline:none;
}

/* Progress Bar */
.progress{
width:100%;
background:#ffd6e8;
height:20px;
border-radius:10px;
margin:15px 0;
}

#progressBar{
height:100%;
width:0%;
background:#ff1493;
border-radius:10px;
transition:width 0.5s ease;
}

/* Task Cards */
.task-card{
background:#ffe4ec;
padding:12px;
margin:10px 0;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
transition:transform 0.2s;
}

.task-card:hover{
transform:translateY(-2px);
}

.completed{
text-decoration:line-through;
opacity:0.6;
}

/* Task Buttons */
.task-card button{
margin-left:5px;
background:#ff69b4;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}

.task-card button:hover{
background:#ff1493;
}

.delete-btn{
background:red;
}

.delete-btn:hover{
background:#c40000;
}

/* Footer */
footer{
background:#ff69b4;
color:white;
padding:12px;
margin-top:40px;
font-size:14px;
}

/* Responsive Design */
@media (max-width:600px){

.container{
width:90%;
}

.hero{
width:90%;
}

.features{
padding:40px 20px;
margin:40px auto;
max-width:800px;
background:white;
border:3px solid #ff69b4;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

}

