body{
font-family: Arial;
margin:0;
background:#f4f6fb;
}

header{
background:#2c3e50;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px;
}

.btn{
background:#3498db;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:5px;
}

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.container{
padding:40px;
text-align:center;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px 15px;
background:#3498db;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:10px auto;
padding:10px;
width:300px;
display:flex;
justify-content:space-between;
border-radius:5px;
}